@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

nav {
    background-color: #0B0B0B;
    color: white;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    height: 47px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    /*margin-right: 70px;  Ajusta este valor según sea necesario */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid white;
}

#special-offers {
    padding: 10px 60px; 
    font-size: 23px;
    background-color: #19829A;/*#f05252; /* Verde */
    text-align: center;
    float: left;
    font-size: 19px;
    line-height: 27px;
}

#search-bar {
    width: 35%;
    padding: 5px 0px;
    text-align: center;
    background-color: #fff; /* Blanco */
    display: inline-block;
    position: relative;
    margin-right: 50px;
    margin-top: 1px;
}

#search-bar input[type=text] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: #f8f8f8;
}

#search-icon {
    background-color: #19829A;/*#f05252; /* Rojo */
    color: white;
    padding: 14px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 49%;
    transform: translateY(-50%);
}

#contact-button {
    background-color: #19829A;/*#f05252; /* Rojo */
    padding: 13.8px 50px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    line-height: 19.5px;
    cursor: pointer;
    float: right;
}

#cart {
    border: 2px solid #19829A; /* Verde */
    padding: 7px;
    margin-right: 20px;
}

#login-register {
    position: relative;
    display: inline-block;
}

/* Nueva sección */
#secondary-nav {
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
}

#logo {
    max-width: 100%;
    height: auto;
    margin-right: 30px;
}

#secondary-nav ul {
    list-style-type: none;
    margin-left: 100px;
    padding: 0;
    overflow: hidden;
    flex-grow: 1;
    text-align: left;
}

#secondary-nav li {
    display: inline;
    margin-right: 20px;
}

#secondary-nav a {
    color: black;
    text-decoration: none;
}

#secondary-nav a:hover {
    color: #19829A;/*#f05252; /* Rojo */
}

.menu-vertical {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px;
    left: 360px;
    overflow-y: auto;
    transition: all 0.3s ease; /* Agregado para suavizar la aparición y desaparición del submenú */
    color: #333; /* Agregado para mejorar el contraste de color */
    z-index: 1000; /* Agregado para que el submenú aparezca por encima de los demás elementos */
}

.menu-vertical a {
    margin-bottom: 10px; /* Agregado para agregar espacio entre los elementos del submenú */
    display: block; /* Agregado para asegurar que el espacio se aplique correctamente */
    border-bottom: 1px so;
}

#secondary-nav li:hover .menu-vertical {
    display: block;
}

#phone-icon {
    margin-right: 20px;
}        

/*muestra donde esta el usuario*/
#mapa{
    width: 100%;
    height: 54px;
    background-color: #19829A;
    display: flex;
}

.categoria-celulares1 a{
    width: 100%;
    height: 50px;
    background-color: #19829A;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    margin-left: 125px;
}

.categoria-celulares2 p{
    width: 100%;
    background-color: #19829A;
    color: black;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-left: 30px;
}

.categoria-celulares3 p{
    width: 100%;
    background-color: #19829A;
    color: black;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-left: 30px;
}

/*aqui haz el estilo para el producto del iphone 14 del html*/