.Appbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.tablaCarrito {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.celda {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.filaCabecera {
    background-color: #19829A;
    color: white;
}

.filaCabecera:nth-child(even) {
    background-color: #f2f2f2;
}

.celda img {
    width: 50px;
    height: 50px;
}

.totalC {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
}

/* Estilo para los botones de incrementar y decrementar la cantidad */
.increment-decrement-button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 6px;
    cursor: pointer;
    border-radius: 10px;
}

.increment-decrement-button:hover {
    background-color: #45a049;
}

/* Estilo para el botón de eliminar producto */
.remove-button {
    background-color: #f44336;
    /* Red */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.remove-button:hover {
    background-color: #da190b;
}

/* Estilo para el botón de confirmar compra */
.confirm-button {
    background-color: #008CBA;
    /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.confirm-button:hover {
    background-color: #007B9A;
}

/*estilos para la tarjeta*/
.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.col-md-6 {
    flex: 0 0 45%;
    max-width: 50%;
    margin: 10px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}