@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.sticky {/* Agregado para que el menú se mantenga fijo en la parte superior de la página */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

nav {
    background-color: #0B0B0B;
    color: white;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    height: 47px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    /*margin-right: 70px;  Ajusta este valor según sea necesario */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid white;
}

#special-offers {
    padding: 10px 60px; 
    font-size: 23px;
    background-color: #19829A;/*#f05252; /* Verde */
    text-align: center;
    float: left;
    font-size: 19px;
    line-height: 27px;
}

#search-bar {
    width: 35%;
    padding: 5px 0px;
    text-align: center;
    background-color: #fff; /* Blanco */
    display: inline-block;
    position: relative;
    margin-right: 50px;
    margin-top: 1px;
}

#search-bar input[type=text] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: #f8f8f8;
}

#search-icon {
    background-color: #19829A;/*#f05252; /* Rojo */
    color: white;
    padding: 14px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 49%;
    transform: translateY(-50%);
}

#contact-button {
    background-color: #19829A;/*#f05252; /* Rojo */
    padding: 13.8px 50px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    line-height: 19.5px;
    cursor: pointer;
    float: right;
}

#cart {
    border: 2px solid #19829A; /* Verde */
    padding: 7px;
    margin-right: 20px;
}

#login-register {
    position: relative;
    display: inline-block;
}

/* Nueva sección */
#secondary-nav {
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
}

#logo {
    max-width: 100%;
    height: auto;
    margin-right: 30px;
    transform: translateZ(0px);
    transform-style: preserve-3d;
    animation: zoom 5s infinite;
}

@keyframes zoom {
    0% {
      transform: translateZ(0px) scale(1);
    }
    50% {
      transform: translateZ(100px) scale(1.2);
    }
    100% {
      transform: translateZ(0px) scale(1);
    }
  }

#secondary-nav ul {
    list-style-type: none;
    margin-left: 100px;
    padding: 0;
    overflow: hidden;
    flex-grow: 1;
    text-align: left;
}

#secondary-nav li {
    display: inline;
    margin-right: 20px;
}

#secondary-nav a {
    color: black;
    text-decoration: none;
}

#secondary-nav a:hover {
    color: #19829A;/*#f05252; /* Rojo */
}

.menu-vertical {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    left: 360px;
    margin-top: 10px;
    transition: all 0.3s ease;
    color: #000000;
    z-index: 1000;
    width: 270px;
    height: 190px;
    cursor: pointer;
}

.menu-vertical.show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
  
.menu-vertical li {
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E9ECF0;
}
  
.menu-vertical a {
    line-height: 18px;
    font-size: 15px;
    text-align: center;
}

#phone-icon {
    margin-right: 20px;
}        

/*muestra donde esta el usuario*/
#mapa{
    width: 100%;
    height: 54px;
    background-color: #19829A;
    display: flex;
}

.categoria-celulares1 a{
    width: 100%;
    height: 50px;
    background-color: #19829A;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    margin-left: 125px;
}

.categoria-celulares2 p{
    width: 100%;
    background-color: #19829A;
    color: black;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-left: 30px;
}

.categoria-celulares3 p{
    width: 100%;
    background-color: #19829A;
    color: black;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-left: 30px;
}

/*aqui haz el estilo para el producto del iphone 14 del html*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 800px;
    margin: 20px auto;
    margin-left: 260px;
}

.imagen{
    grid-column: 1 / 2;
    transition: transform 0.5s ease-in-out;
}

.imagen:hover {
  transform: scale(1.2);
}

.principal{
    grid-column: 2 / 3;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.agregar-carrito{
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFD566;
    color: #2f2f2f;
    border: none;
    border-radius: 15px ;
    padding: 20px 15px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.comprar-whatsapp{
    font-family: 'Ubuntu', sans-serif;
    background-color: #EDEDED;
    color: #2f2f2f;
    border: none;
    border-radius: 15px ;
    padding: 20px 15px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.precio{
    font-family: 'Ubuntu', sans-serif;
    color: red;
    font-size: 28px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 0;
}

.iva{
    font-family: 'Ubuntu', sans-serif;
    color: #666666;
    font-size: 12px;
    line-height: 17px;
    margin-top: 0;
}

.titulo{
    font-family: 'Ubuntu', sans-serif;
    color: #666666;
    font-size: 24px;
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
}   

.comentario{
    font-family: 'Ubuntu', sans-serif;
    color: #333333;
    font-size: 12px;
    line-height: 14px;
}

.caracteristicas{
    font-family: 'Ubuntu', sans-serif;
    color: #333333;
    font-size: 26px;
    line-height: 3px;
    margin-top: 20px;
    margin-left: 100px;
}

.caracteristicas i{
    float: right;
    margin-right: 100px;
}


/*caracteristicas del iphone 14 -- tabla*/
table{
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 300px;
}

table tr:nth-child(odd){
    background-color: #f2f2f2;
}

table tr:nth-child(even){
    background-color: #fff;
}

table th{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 15px;
    text-align: left;
}

table td{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 15px;
    text-align: left;
}

.caracteristicas-prin{
    font-family: 'Ubuntu', sans-serif;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 100px;
}

.detalles{
    font-family: 'Ubuntu', sans-serif;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 120px;
}

/*reseña*/
form{
    width: 400px;
    margin-left: 400px;
}

.rating {
    direction: rtl;/* Esto invertirá el orden visual de los elementos */
    display: flex;
    justify-content: center;
}
  
.rating label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
    /* Asegúrate de que los labels se muestren correctamente en navegadores que soportan direction: rtl; */
    unicode-bidi: bidi-override;
    direction: ltr;    
}
  
.rating input[type="radio"] {
    display: none;
}
  
.rating input[type="radio"]:checked ~ label {
    color: #f90;
}

.form-group {
    margin-bottom: 1em;
}
  
label, input, textarea, button {
    font-family: Arial, sans-serif;
}
  
label {
    display: block;
    margin-bottom: 0.5em;
}
  
input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
}
  
.enviar-resena {
    display: block;
    margin: 1em auto 0;
    padding: 0.5em 1em;
    background-color: #FFD566;
    color: black;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.error{
    display: block;
    justify-content: center;
    text-align: center;
    color:red;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Nueva sección para el formulario de suscripción */
.subscription-section {
    margin-top: 4%;
    display: flex;
    background-color: #19829A;/*#f05252; /* Rojo */
    color: white;
    padding: 20px;
}

.titulo-subscription{
    margin-left: 200px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.subscription-form {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    margin-left: 20px;
}

.email-input {
    margin-top: 15px;
    padding: 10px;
    background-color: white;/*#f05252; /* Rojo */
    color: white;
    border-radius: 0;
    border: 1px solid white;
    width: 200px;
}

.subscribe-button {
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    color: black; /* Rojo */
    border: 1px solid white;
    width: 100px;
    cursor: pointer;
}      

/* Estilos para el footer */
footer {
    background-color: #212121; /* Fondo oscuro */
    color: white;
    padding: 20px 20px 10px 20px;
    text-align: center;
}

#footer-container {
    justify-content: space-between;
    align-items: center;
}

#social-icons a {
    margin-right: 15px;
}

#social-icons img {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px;
}

#rights {
    border-top: 1px solid #645e5e; /* Línea superior */
    width: 30%;
    margin: auto;
    padding-top: 40px;
}
